# 设置时区
TZ=<你的值>
# 设置网络模式
NETWORKS_DRIVER=<你的值>

# PATHS ##########################################
# 宿主机上代码存放的目录路径
CODE_PATH_HOST=<你的值>
# 宿主机上Mysql Redis数据存放的目录路径
DATA_PATH_HOST=<你的值>

# MYSQL ##########################################
# Mysql 服务映射宿主机端口号，可在宿主机127.0.0.1:3306访问
MYSQL_PORT=<你的值>
MYSQL_USERNAME=<你的值>
MYSQL_PASSWORD=<你的值>
MYSQL_ROOT_PASSWORD=<你的值>
# Mysql 可视化管理用户名称，同 MYSQL_USERNAME
MYSQL_MANAGE_USERNAME=<你的值>
# Mysql 可视化管理用户密码，同 MYSQL_PASSWORD
MYSQL_MANAGE_PASSWORD=<你的值>
# Mysql 可视化管理ROOT用户密码，同 MYSQL_ROOT_PASSWORD
MYSQL_MANAGE_ROOT_PASSWORD=<你的值>
# Mysql 服务地址
MYSQL_MANAGE_CONNECT_HOST=<你的值>
# Mysql 服务端口号
MYSQL_MANAGE_CONNECT_PORT=<你的值>
# Mysql 可视化管理映射宿主机端口号，可在宿主机127.0.0.1:1000访问
MYSQL_MANAGE_PORT=<你的值>

# REDIS ##########################################
# Redis 服务映射宿主机端口号，可在宿主机127.0.0.1:6379访问
REDIS_PORT=<你的值>

# Redis 可视化管理用户名称
REDIS_MANAGE_USERNAME=<你的值>
# Redis 可视化管理用户密码
REDIS_MANAGE_PASSWORD=<你的值>
# Redis 服务地址
REDIS_MANAGE_CONNECT_HOST=<你的值>
# Redis 服务端口号
REDIS_MANAGE_CONNECT_PORT=<你的值>
# Redis 可视化管理映射宿主机端口号，可在宿主机127.0.0.1:2000访问
REDIS_MANAGE_PORT=<你的值>

# ETCD ###########################################
# Etcd 服务映射宿主机端口号，可在宿主机127.0.0.1:2379访问
ETCD_PORT=<你的值>

# GATEWAY ########################################
# 统一网关服务映射宿主机端口号，可在宿主机127.0.0.1:8888访问
GATEWAY_PORT=<你的值>
# 统一网关 Prometheus 映射宿主机端口号
GATEWAY_PROMETHEUS_PORT=<你的值>

ETCD_MANAGE_PORT=<你的值>

# PROMETHEUS #####################################
# Prometheus 服务映射宿主机端口号，可在宿主机127.0.0.1:3000访问
PROMETHEUS_PORT=<你的值>

# GRAFANA ########################################
# Grafana 服务映射宿主机端口号，可在宿主机127.0.0.1:4000访问
GRAFANA_PORT=<你的值>

# JAEGER #########################################
# Jaeger 服务映射宿主机端口号，可在宿主机127.0.0.1:5000访问
JAEGER_PORT=<你的值>

# DTM #########################################
# DTM HTTP 协议端口号
DTM_HTTP_PORT=<你的值>
# DTM gRPC 协议端口号
DTM_GRPC_PORT=<你的值>
